# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be stored, organized, and accessed electronically. It is a fundamental tool for managing and manipulating large amounts of data efficiently and effectively.

SQL databases are relational databases that store data in tables with a predefined schema. The schema defines the columns and data types for each table, and the relationships between the tables. SQL databases use SQL as their query language to retrieve and manipulate data. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL databases, on the other hand, are non-relational databases that store data in flexible, dynamic schemas. NoSQL databases use a variety of data models, including document-oriented, key-value, graph, and column-family. NoSQL databases are designed to be highly scalable and can handle large volumes of unstructured data. Some examples of NoSQL databases include MongoDB, Cassandra, and Redis.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

CREATE: used to create a new database object such as a table, view, or index. For example, the following command creates a new table called "customers" with three columns: "id", "name", and "email":

In [ ]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);

DROP: used to delete an existing database object such as a table, view, or index. For example, the following command drops the "customers" table: **DROP TABLE customers;

ALTER: used to modify the structure of an existing database object such as a table or view. For example, the following command adds a new column called "address" to the "customers" table:

In [ ]:
ALTER TABLE customers
ADD COLUMN address VARCHAR(50);

TRUNCATE: used to delete all the data from an existing table while keeping its structure intact. For example, the following command deletes all the data from the "customers" table: **TRUNCATE TABLE customers;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL used to insert, update, and delete data from tables in a database.

INSERT: used to add new data to a table. For example, the following command inserts a new record into the "customers" table:

In [ ]:
INSERT INTO customers (id, name, email)
VALUES (1, 'user', 'user@.com');

UPDATE: used to modify existing data in a table. For example, the following command updates the email address for the customer with ID 1:

In [ ]:
UPDATE customers
SET email = 'test@example.com'
WHERE id = 1;

DELETE: used to delete data from a table. For example, the following command deletes the record for the customer with ID 1:

In [ ]:
DELETE FROM customers
WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from tables in a database. The main command used in DQL is SELECT.

SELECT is used to retrieve data from one or more tables in a database. It allows you to specify which columns to retrieve

In [ ]:
SELECT name, salary
FROM employees
WHERE department = 'sales';

# Q5. Explain Primary Key and Foreign Key.